@import 'tailwindcss/preflight';
@tailwind utilities;

/* Forcefully disable all animations and transitions in the app */
* {
  animation: none !important;
  transition: none !important;
  animation-duration: 0s !important;
  transition-duration: 0s !important;
  transition-delay: 0s !important;
}
